body {
    margin: 0;
    padding: 0;
    font-family: "微软雅黑";
}

.auto {
    margin: 0 auto
}

.clear {
    clear: both
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    outline: none
}

.header {
    height: 50px;
    background: #0066b3;
    line-height: 50px;
}

.header .box {
    width: 960px;
    line-height: 50px;
}

.header .box .box_text1 ul li {
    float: left;
    margin-left: 10px;
    font-size: 16px;
    position: relative
}

.header .box .box_text1 ul li a {
    color: #1dd9e2;
    text-decoration: none
}

.header .box .box_text1 ul li a:hover {
    color: #FFF
}

.header .box .box_text1 ul li a.white {
    color: #FFF
}

.header .box .box_text1 ul .box_sw .sw img {
    position: absolute;
    top: 14px;
    border: none;
    margin: 0;
    padding: 0;
}

.header .box .box_text1 ul .box_sw .sw .sw_text {
    position: absolute;
    left: 77px;
    top: 11px;
    width: 141px;
    height: 28px;
    line-height: 26px;
    background: url(../images/hv_top.png);
    text-align: center;
    display: none
}

.header .box .box_text1 ul .box_sw .sw .sw_text a {
    color: #27FFF7;
    margin: 0 5px;
    font-size: 12px;
}

.header .box .box_text1 ul .box_sw .sw .sw_text a:hover {
    color: #FFF
}

.header .box .box_text1 ul .box_sw .sw:hover .sw_text {
    display: block
}

.header .box .box_text2 {
    float: right;
    color: #1dd9e2;
}

.header .box .box_text2 ul li {
    float: left;
    margin-left: 10px;
    font-size: 14px;
}

.header .box .box_text2 ul li .padding {
    padding: 0 4px;
}

.header .box .box_text2 ul li a {
    color: #1dd9e2;
    text-decoration: none
}

.header .box .box_text2 ul li a:hover {
    color: #FFF
}

.header .box .box_text2 ul li img {
    border: none;
    margin: 0;
    padding: 0;
    vertical-align: text-bottom;
    margin-right: 8px;
}

.nva {
    height: 80px;
    position: relative
}

.nva_box {
    width: 960px;
    position: relative
}

.logo {
    float: left;
    margin-top: 15px;
    padding-right: 12px;
}

.logo img {
    border: none
}

.logo_text {
    float: left;
    background: url(../images/city_bg.jpg) no-repeat left top;
    width: 68px;
    height: 25px;
    line-height: 25px;
    padding-left: 6px;
    top: 28px;
    position: relative;
    font-size: 12px;
    color: #666666;
}

.nva_text {
    height: 80px;
    line-height: 80px;
    float: left;
    padding-left: 6px;
}

.nva_text ul li {
    float: left;
    font-size: 18px;
    display: inline-block;
    color: #666;
    margin-left: 28px
}

.nva_text ul li a {
    color: #333;
    text-decoration: none;
    cursor: default;
    padding-bottom: 10px;
}

.nva .search .nva_line {
    float: left;
    height: 30px;
    line-height: 30px;
    background: #eeeeee;
    width: 1px;
    margin-left: 25px;
    margin-top: 25px;
}

.nva .search a {
    float: left;
    width: 40px;
    height: 30px;
    background: url(../images/fdj.png) no-repeat 10px;
    display: block;
    margin-top: 25px;
}

.link {
    width: 273px;
    height: 60px;
    border-radius: 4px;
    position: absolute;
    left: 0px;
    top: 80px;
    z-index: 150;
    background: url(../images/20151225162619192799.png) no-repeat left top;
}

.link_top {
    padding: 6px 16px;
    height: 32px;
}

.link .link_top .list {
    text-indent: 5px;
    float: left;
    display: inline;
    position: relative;
}

.w_160 {
    width: 160px
}

.link .link_top .list .list_text {
    z-index: 1;
    background: url(../images/select.png) right 0 no-repeat;
    cursor: default;
    display: block;
    height: 32px;
    line-height: 32px;
    overflow: hidden;
    border-left: 1px solid #0066b3;
    font-size: 14px;
    color: #333;
}

.link .link_top .list .list_text1 {
    position: absolute;
    z-index: 15;
    background: #fff;
    width: 100%;
    top: 30px;
    left: 0;
    max-height: 240px;
    overflow-y: auto;
    border: 1px solid #999;
    min-height: 70px;
    display: none
}

.link .link_top .list .list_text1 ul li {
    height: 30px;
    line-height: 30px;
    cursor: default;
    display: list-item;
    font-size: 14px;
    color: #333;
}

.list .login {
    display: block;
    width: 73px;
    height: 32px;
    float: right;
    line-height: 31px;
    color: #fff;
    top: 0px;
    text-decoration: none;
    background: url(../images/btn_login.png) no-repeat;
    position: absolute;
    text-indent: 30px;
    font-size: 14px;
    left: 170px;
}

.link .box {
    display: none;
}

.link .box .box_text {
    font-size: 14px;
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    padding: 0px;
    position: absolute;
    left: 0px;
    top: 35px;
}

.link .box .box_text a {
    display: block;
    float: left;
    width: 60px;
    text-align: center;
    color: #333;
    text-decoration: none;
}

.link .box .box_text a:hover {
    color: #0066b3;
}

.link .link_bottom:hover .link_hover {
    height: 106px;
    background: url(../images/20151225170047011949.png) no-repeat left top;
}

.banner {
    height: 350px;
    width: 100%;
    position: relative;
    z-index: 10;
}

.top_bg {
    background: url(../images/shadow.png) repeat-x left top;
    height: 4px;
    position: absolute;
    top: 0px;
    left: 0;
    z-index: 10;
    width: 100%;
}

.focus {
    position: relative;
    width: 100%;
    height: 350px;
    float: left;
    background: #FFF
}

.focus .pic {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
}

.focus .pic .fs {
    position: relative;
    width: 100%;
    float: left;
    background: #fff;
}

.focus .pic .fs .bg_pic {
    opacity: 1;
    background-image: url(../images/8953_1_1501120009.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0%;
    position: absolute;
    width: 100%;
    height: 350px;
}

.by {
    background: #f2f2f2;
}

.by_text {
    width: 40px;
    height: 326px;
    overflow: hidden;
    position: fixed;
    top: 140px;
    top: 145px !important;
    right: 0;
    z-index: 99;
    background: #f2f2f2;
    border-radius: 10px 0 0 10px;
}

.by .by_text ul li {
    width: 70px;
    height: 80px;
    line-height: 80px;
    padding-left: 50px;
    font-size: 14px;
    display: block;
    cursor: pointer;
}

.by .by_text ul li.text1 {
    background: url(../images/y1.png) no-repeat 10px 30px;
    border-bottom: 1px #ccc solid;
}

.by .by_text ul li.text2 {
    background: url(../images/y3.png) no-repeat 10px 30px;
    border-bottom: 1px #ccc solid;
}

.by .by_text ul li.text3 {
    background: url(../images/y_55.png) no-repeat 10px 30px;
    border-bottom: 1px #ccc solid;
}

.by .by_text ul li.text4 {
    background: url(../images/y4.png) no-repeat 10px 30px;
}

.by div {
    display: block;
}

.by:hover div {
    width: 120px;
    transition: linear 0.5s;
}

.box {
    width: 960px;
    position: relative;
    height: 110px;
}

.box .box_left {
    position: absolute;
    top: 70px;
    z-index: 999;
    width: 21px;
    height: 27px;
}

.box .box_right {
    position: absolute;
    right: -25px;
    top: 70px;
    z-index: 999;
}

.box .box_left a {
    background: url(../images/btn_left.png) no-repeat;
    width: 21px;
    height: 30px;
    display: block
}

.box .box_right a {
    background: url(../images/icon_right.png) right no-repeat;
    width: 21px;
    height: 30px;
    display: block
}

.box .box_main {
    width: 972px;
    position: relative;
    height: 150px;
    overflow: hidden;
}

.box .box_main .box_text {
    position: absolute;
}

.box .box_main .box_text ul li {
    float: left;
    padding-left: 12px;
    position: relative;
    margin-top: 40px
}
.box .box_main .box_text ul li:first-child{
    padding-left: 20px;
}
.box .box_main .box_text ul li .text_top {
    padding-bottom: 20px
}

.box .box_main .box_text ul li .text_top .text_top_img {
    float: left
}

.box .box_main .box_text ul li .text_top .text1_top {
    float: left;
    width: 169px;
    overflow: hidden;
    white-space: nowrap;
    top: 50px
}

.text1_top .text1_top1 {
    font-size: 18px;
}

.text1_top .text1_top2 {
    font-size: 14px;
    line-height: 20px;
    width: 180px;
    overflow: hidden;
}

.text1_top a {
    color: #333;
    text-decoration: none
}

.text_bottom {
    z-index: 12;
    background: #e9e9e9 url(../images/up_icon.png) no-repeat 75% center;
    color: #333;
    border-radius: 5px;
    width: 210px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    margin-top: 50px
}

.index {
    border-bottom: none;
    position: relative;
    margin-top: 60px
}

.index .index_text {
    display: block;
    width: 960px;
    height: 46px;
    line-height: 32px;
    font-size: 30px;
    overflow: hidden;
}

.index_text .index_text1 {
    display: block;
    float: left;
    padding-right: 11px;
    border-left: 10px solid #c1c1c1;
    padding-left: 10px;
    color: #333;
}

.index_text .index_text2 {
    background: url(../images/index_title_box.gif);
    width: 308px;
    height: 32px;
    line-height: 32px;
    padding-left: 11px;
    float: left;
    font-size: 14px;
    padding-bottom: 21px;
    color: #fff;
}

.index_bottom {
    border-bottom: 2px solid #efefef;
    margin-bottom: 20px;
    margin-top: 160px
}

.index_bottom .index_w {
    width: 960px;
    height: 40px
}

.index_bottom .index_w ul {
    float: right;
    margin: 0px;
    padding: 0px
}

.index_bottom .index_w ul li {
    float: left;
    padding: 0 18px;
    height: 38px;
    line-height: 38px;
    font-size: 18px
}

.index_bottom .index_w ul .blue {
    color: #0066b3;
    border-bottom: 4px solid #0066b3;
}

.index_bottom .index_w ul li:hover {
    cursor: default;
    color: #0066b3;
    border-bottom: 4px solid #0066b3;
}

.footer {
    width: 100%
}

.footer .footer_text {
    width: 960px;
    overflow: hidden;
}

.footer .footer_left {
    float: left;
    width: 590px;
    height: 360px;
}

.footer .footer_left .left_top {
    width: 147px;
    float: left;
    margin-top: 20px;
    *height: 80px
}

.footer .footer_left .left_top .top_text {
    color: #333;
    font-size: 20px;
    line-height: 30px;
}

.footer .footer_left .left_top .top_text a {
    color: #333;
    text-decoration: none;
    font-weight: 400
}

.footer .footer_left .left_top .top_text a:hover {
    color: #39F
}

.footer .footer_left .left_top .top_text1 ul li {
    line-height: 20px;
    font-size: 14px;
    color: #666;
}

.footer .footer_left .left_bottom ul li {
    float: left;
    margin-top: 20px;
}

.footer .footer_left .left_bottom ul li.img {
    padding-left: 25px;
    border: none
}

.footer .footer_right {
    float: right;
    overflow: hidden;
}

.footer .footer_right img {
    border: none
}

.footer .footer_mid {
    height: 100px;
    width: 100%;
    background: #EFEFEF;
    margin-top: -5px;
    margin-bottom: 50px
}

.footer .footer_mid .mid {
    width: 960px;
    overflow: hidden;
}

.footer .footer_mid .mid img {
    border: none
}

.footer .footer_mid .mid ul li {
    float: left;
    height: 100px;
    outline: none;
    padding: 18px 0px 0px 0px;
    margin: 0px 20px
}

.footer .footer_mid .mid ul li .img {
    float: left;
    border: none;
    margin: 0px ;
    padding: 0px;
}

.footer .footer_mid .mid ul li .pic {
    float: left;
    border: none;
    margin: 0px ;
    padding: 0px
}

.footer .footer_mid .mid ul li .pic_text {
    float: right;
    font-size: 14px;
    padding-top: 25px;
    padding-left: 15px
}

.footer .footer_mid .mid ul li a {
    color: #333;
    text-decoration: none
}

.footer .footer_mid .mid ul li .pic_text a:hover {
    color: #39F
}

.footer_end {
    width: 960px;
    overflow: hidden;
    position: relative;
}

.footer_end .footer_title {
    background: url(../images/line2.png) no-repeat center bottom;
    text-align: center;
    color: #ff9900;
    font-size: 24px;
    padding-bottom: 30px;
}

.footer_end a {
    text-decoration: none
}

.footer_end .img_left {
    background: url(../images/btn_left.png) left no-repeat;
    position: absolute;
    z-index: 100;
    left: 220px;
    top: 80px;
    width: 30px;
    height: 30px;
}

.footer_end .img_right {
    background: url(../images/icon_right.png) right no-repeat;
    position: absolute;
    width: 30px;
    height: 30px;
    z-index: 100;
    top: 80px;
    right: 190px;
}

.footer_end .footer_text {
    width: 470px;
    height: 80px;
    overflow: hidden;
    position: relative;
    left: 260px
}

.footer_end .footer_text h3 {
    font-size: 14px;
    text-align: center;
    margin: 0px;
    padding: 0px
}

.footer_end .footer_text h3 a {
    color: #333;
    text-decoration: none
}

.footer_end .footer_text h3 a:hover {
    color: #39F
}

.footer_end .footer_text p {
    font-size: 14px;
    color: #333;
    margin-top: 10px;
}

.ender {
    width: 100%;
    height: 260px;
    background: #EEEEEE;
    margin-top: 40px
}

.ender_text {
    width: 960px;
    overflow: hidden;
}

.ender_text .info {
    line-height: 80px;
    font-size: 18px
}

.ender_text a {
    color: #333;
    text-decoration: none
}

.ender_text .datetime {
    width: 35px;
    float: left
}

.ender_text .datetime_year {
    font-size: 18px;
    color: #333;
    line-height: 22px;
    text-align: center;
    border-bottom: 1px solid #bfbfbf;
}

.ender_text .datetime_moth {
    font-size: 12px;
    color: #333;
    text-align: center;
    line-height: 18px;
}

.ender_text ul li {
    float: left;
    width: 33%
}

.ender_text .ender_text1 {
    float: left;
    width: 240px;
    padding-left: 12px;
}

.ender_text .ender_text1 .ender_text1_title {
    font-size: 18px;
    text-align: left;
    line-height: 22px;
    height: 44px;
}

.ender_text .ender_text1 .ender_text1_title a {
    color: #333;
    text-decoration: none
}

.ender_text .ender_text1 .ender_text1_title a:hover {
    color: #39F
}

.ender_text .ender_text1 .ender_text1_text {
    margin-top: 10px;
    font-size: 14px;
    color: #666;
    text-align: left;
    min-height: 54px;
    line-height: 20px
}

.ender1 {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #025a9d;
}

.ender1_text {
    width: 960px;
}

.ender1 .ender1_text .img {
    width: 112px;
    float: left;
    padding-top: 8px;
}

.ender1 .ender1_text .img a {
    color: #1dd9e2;
    font-size: 14px;
    text-decoration: none;
}

.ender1 .ender1_text .img img {
    width: 94px;
    border: none;
    margin: 0;
    padding: 0;
}

.ender1 .ender1_text ul {
    float: left;
    overflow: hidden;
    margin-left: 15px
}

.ender1 .ender1_text ul li {
    float: left;
    padding-right: 20px;
}

.ender1 .ender1_text ul li a {
    color: #1dd9e2;
    font-size: 14px;
    text-decoration: none
}

.ender1 .ender1_text ul li a:hover {
    color: #FFF
}

.ender1 .ender1_text .laguage {
    float: right;
    color: #1dd9e2;
}

.ender1 .ender1_text .laguage a {
    color: #1dd9e2;
    font-size: 14px;
    text-decoration: none
}

.ender1 .ender1_text .laguage a:hover {
    color: #FFF
}

.ender2 {
    width: 100%;
    height: 160px;
    background: #0066b3
}

.ender2 .ender2_text {
    width: 960px;
}

.ender2 .ender2_text .ender2_left {
    float: left;
    font-size: 14px;
    color: #fff;
    padding-top: 48px;
}

.ender2 .ender2_text .ender2_left .left_img {
    float: left;
    margin-left: -110px;
    *margin: 0px;
    padding-top: 10px;
}

.ender2 .ender2_text .ender2_left .left_img img {
    border: none;
    margin: 0;
    padding: 0;
}

.ender2 .ender2_text .ender2_left .left_text {
    float: left;
    margin-left: -70px;
    *margin-left: 12px;
}

.ender2 .ender2_text .ender2_left .left_text span {
    padding-right: 30px;
    line-height: 30px;
}

.ender2 .ender2_text .ender2_right {
    float: right;
}

.ender2 .ender2_text .ender2_right ul {
    padding-top: 40px;
    overflow: hidden;
}

.ender2 .ender2_text .ender2_right ul li {
    float: left;
    background: #fff;
    width: 60px;
    padding: 5px;
    margin-left: 34px;
    text-align: center;
    color: #0066b3;
    line-height: 15px;
    font-size: 14px;
}
